{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ super() }}{% endblock %}
{% block styleblock %}
	body {background-image: url(/theme/images/patterns/{{ article.slug }}.png);}
{% endblock %}
{% block bodyclass %}article{% endblock %}
{% block content %}

{% include 'sidebar.html' %}
<div class="things col-sm-9">
	<h3>{{article.title}}</h3>
	<div class="pattern-box" style="border: 1px solid black; height: 200px; -webkit-filter: contrast(10); background-image: url(/theme/images/patterns/black-thread-light.png);">
	</div>
</div>

{% endblock %}
{% block scripts %}
var pattern = '/theme/images/patterns/{{ article.slug }}.png';
var pattern_title = '{{article.title}}';
{% endblock %}
