{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ super() }}{% endblock %}
{% block styleblock %}
    body {background-image: url(/patterns/{{ article.slug }}.png);}
{% endblock %}
{% block bodyclass %}article{% endblock %}
{% block content %}

{% include 'sidebar.html' %}
<div class="article-container col-sm-8 col-md-9 col-lg-10">
    <div class="single-pattern-container">

        <div class="title-row row">
            <h3 class="pattern-title"><span>{{article.title}}</span></h3>
            <p>Created by {{article.author}}. Originally found at <a href="{{article.original}}">Subtle Patterns</a>.</p>
        </div>

        <hr>

        <div class="row">
            <div class="save-transparent-column col-md-6">
                <h4>Download the transparent texture:</h4>
                <div><img class="pattern-example" src="/patterns/{{article.slug}}.png"></div>
                <a class="btn btn-default" href="/patterns/{{article.slug}}.png" download>Save {{ article.slug }}.png</a>
            </div>
            <div class="save-wallpaper-column col-md-6">
                <h4>Create a wallpaper from the texture:</h4>
                <div class="resolutions">
                    <div><img class="wallpaper-example" src="/theme/images/monitor.png" height="100"></div>
                    <div class="select-resolution">
                        <select class="form-control center-block" id="device_resolution">
                            <option value="hd">High Definition (1920x1080)</option>
                            <option value="iphone5">iPhone 5 (640x1136)</option>
                            <option value="iphone4">iPhone 4/4S (640x960)</option>
                            <option value="ipad">iPad (1536x2048)</option>
                            <option value="twitter">Twitter Header (520x260)</option>
                            <option value="facebook">Facebook Cover (851x315)</option>
                        </select>
                    </div>
                    <div class="resolution-input">
                        <input type="text" id="wallpaper_width" placeholder="1920" value="1920">
                        <span>x</span>
                        <input type="text" id="wallpaper_height" placeholder="1080" value="1080">
                    </div>
                    <div class="save-wallpaper">
                        <a class="btn btn-default save-wallpaper-button" href="#" download>Save wallpaper</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
{% block scripts %}
var pattern = '/patterns/{{ article.slug }}.png';
var pattern_title = '{{article.title}}';
{% endblock %}
