<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Transparent Textures{% endblock %}</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="/theme/css/all.min.css" />
  <script type="text/javascript" src="//use.typekit.net/wpz6ttu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <style>
    {% block styleblock %}
    body {background-color: black;}
    {% endblock %}
  </style>
</head>
<body class="{% block bodyclass %}base{% endblock %}">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="site-title"><a href="/"><span class="title-transparent">Transparent</span> <span class="title-textures">Textures</span></a></h1>
        </div>
        <div class="col-sm-4">
          <div class="search-container">
            <input type="text" id="search" placeholder="Filter patterns (e.g. stripes, fabric, etc.)"/>
            <span class="searchicon glyphicon glyphicon-search"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-container">
  {% block content %}
  {% endblock %}
  </div>

  <script src="/theme/js/all.min.js"></script>
  <script>{% block scripts %}{% endblock scripts %}</script>
  {% include 'analytics.html' %}
</body>
</html>
