{
	"data" : [{% for article in articles | sort(attribute="title", reverse=False) %}
	{
		"title" : "{{article.title}}",
		"slug" : "{{article.slug}}",
		"url" : "{{article.url}}",
		"search_string" : "{{article.title}} {% for tag in article.tags %}{{tag}} {% endfor %}",
		"png" : "/theme/images/patterns/{{ article.slug }}.png",
		"author" : "{{article.author}}"{% if article.authorsite %},
		"authorsite" : "{{article.authorsite}}"
	{% endif %}
	}{% if not loop.last %},
	{% endif %}
{% endfor %}
]}