{% extends "base.html" %}

{% block content %}
<section id="content">

{% include 'sidebar.html' %}

{# Start pattern list #}
<div class="patterns col-sm-8 col-md-9 col-lg-10">

<ol id="pattern-list">

{% for article in articles_page.object_list | sort(attribute="title", reverse=False) if "featured" in article.tags %}
<li class="pattern-container col-sm-6 {% if 'featured' in article.tags %}featured{% endif %}">
  <div class="pattern clickable lazy" data-original="/patterns/{{ article.slug }}.png" style="background-image: url('/theme/images/transparent.png');">
    <div class="pattern-info">
      <h4 class="pattern-title">{{ article.title }}</h4>
      <p>Made by {% if article.authorsite %}<a href="{{ article.authorsite }}" target="_blank">{% endif %}{{ article.author }}{%if article.authorsite %}</a>{% endif %}</p>
      <p style="display:none;">{% for tag in article.tags %}{{tag}} {% endfor %}</p>
      <a href="/patterns/{{article.slug}}.png" class="pattern-download" download><i class="fa fa-download"></i> Download</a>
      <a href="{{article.url}}" class="pattern-link"><i class="fa fa-link"></i> Link</a>
    </div>
  </div>
</li>
{% endfor %}

</ol>

</div>
{# End pattern list #}

</section>
{% endblock content %}

{% block scripts %}
var pattern_data = {
	"data" : [	{
		"title" : "3Px Tile",
		"slug" : "3px-tile",
		"url" : "3px-tile.html",
		"search_string" : "3Px Tile featured  ",
		"png" : "/patterns/3px-tile.png",
		"author" : "Gre3g",
		"authorsite" : "http://gre3g.livejournal.com"
	},
	{
		"title" : "45 Degree Fabric (Dark)",
		"slug" : "45-degree-fabric-dark",
		"url" : "45-degree-fabric-dark.html",
		"search_string" : "45 Degree Fabric (Dark) featured denim fabric ",
		"png" : "/patterns/45-degree-fabric-dark.png",
		"author" : "Atle Mo",
		"authorsite" : "http://www.atlemo.com"
	},
	{
		"title" : "45 Degree Fabric (Light)",
		"slug" : "45-degree-fabric-light",
		"url" : "45-degree-fabric-light.html",
		"search_string" : "45 Degree Fabric (Light) featured denim fabric ",
		"png" : "/patterns/45-degree-fabric-light.png",
		"author" : "Atle Mo",
		"authorsite" : "http://www.atlemo.com"
	},
	{
		"title" : "60º lines",
		"slug" : "60-lines",
		"url" : "60-lines.html",
		"search_string" : "60º lines ",
		"png" : "/patterns/60-lines.png",
		"author" : "Atle Mo",
		"authorsite" : "http://www.atlemo.com"
	}]};
{% endblock scripts %}