{% extends "base.html" %}
{% block content %}
<section id="content">
{% block title %}
{% endblock %}
{% block content_title %}
{% endblock %}

<ol id="post-list">

{% for article in articles_page.object_list | sort(attribute="date", reverse=True) %}
<li>
    <div class="pattern-container col-sm-6">
        {% if article.imgur %}
        <div class="pattern clickable lazy" data-original="{{ article.imgur }}" style="background-image: url('/theme/images/transparent.png');">
        {% else %}
        <div class="pattern clickable lazy" data-original="/theme/images/patterns/{{ article.slug }}.png" style="background-image: url('/theme/images/transparent.png');">
        {% endif %}
            <div class="pattern-info">
                <h4 class="pattern-title">{{ article.title }}</h4>
                <p>Made by {% if article.authorsite %}<a href="{{ article.authorsite }}" target="_blank">{% endif %}{{ article.author }}{%if article.authorsite %}</a>{% endif %}</p>
                <p style="display:none;">{% for tag in article.tags %}{{tag}} {% endfor %}</p>
           </div>
       </div>
   </div>
</li>
{% endfor %}

</ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
{% block scripts %}
    var patterns = [{% for article in articles_page.object_list | sort(attribute="title") %} ["{{ article.title }}", "{% if article.imgur %}{{article.imgur}}{% else %}/theme/images/patterns/{{ article.slug }}.png{% endif %}"],{% endfor %}];
{% endblock scripts %}