<div class="col-sm-4 col-md-3 sidebar-placeholder"></div>

<div class="sidebar col-sm-4">
    <p>Standing on the shoulders of <a href="http://www.subtlepatterns.com" target="_blank">Subtle Patterns</a>. Built and maintained by <a href="http://twitter.com/mikehearn" target="_blank">@mikehearn</a>.</p>
    <div class="row">
        <div class="col-sm-12">
            <h4>1. Choose a Color</h4>
            <input class="hexbox" / placeholder="Click to choose a color.">
            <input class="colorpicker" / placeholder="Click to choose a color.">
        </div>
        <div class="col-sm-12">
            <h4>2. Choose a Pattern</h4>
            <p>
                <span class="current-pattern-is">Current pattern:</span>
                <br/>
                <span class="current-pattern">not selected</span>.
            </p>
        </div>
        <div class="col-sm-12">
            <h4>3. Grab the CSS</h4>
            <textarea id="cssfield" style="width: 100%; height: 100px;"></textarea>
            <button id="copy-button" class="btn btn-default btn-xs" data-clipboard-target="cssfield" title="Copy to clipboard.">Copy to clipboard</button>
            <span class="copy-success"></span>
        </div>
    </div>
</div>